@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.card {
  height: 150px;

  & h2 {
    color: var(--color-light-steel-100);
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  & p:not(.cardDueDate) {
    margin: 0;
  }
}

.cardContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  & > * {
    width: 100%;
  }

  & > div:first-of-type {
    padding: 0;
  }
}

.cardTitle {
  align-items: center;
  display: flex;
  height: 26px;
  justify-content: space-between;
}

.cardBarCode {
  color: var(--color-light-steel-100);
  font-size: 14px;
  line-height: var(--spacing-medium);

  & svg {
    margin-right: var(--spacing-tiny);
    position: relative;
    top: 8px;
  }
}

.cardDueDate {
  align-items: center;
  display: flex;
  height: 26px;
  justify-content: space-between;

  & p {
    color: var(--color-light-steel-100);
    font-size: 12px;
  }
}
@media print {
  .card {
    text-align: center;
    background: none;
    height: auto;
    & svg {
      display: none!important;
    }
  }

  .cardContent {
    flex-direction: row;
    padding: 0 0 10px 0!important;
    border-bottom: 1px solid #AAAAAA; 
    height: auto;

    &:before {
      content: 'Dado do boleto';
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      display: block;
      width: 100%;
    }
  }

  .cardTitle {
    display: none!important;
  }  

  .cardBarCode {
    & > strong {
      font-size: 16px;
      font-weight: normal;
    }
  }
  .cardDueDate {
    & > p {
      font-size: 16px;
    }
  }
}
