@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.content {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.item {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-left: var(--spacing-medium);
  }

  & > span {
    color: var(--color-light-steel-100);
    font-size: 12px;
    text-transform: uppercase;
  }

  & > div {
    align-items: center;
    display: flex;
    height: 30px;
  }
}

.identifier {
  color: var(--color-light-steel-100);
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  max-width: 300px;
}

.actions {
  align-items: center;
  display: flex;

  & > button:not(:first-of-type) {
    margin-left: var(--spacing-medium);
  }
}

.propertyChildren {
  color: var(--color-light-steel-100);
  font-size: 14px;

  &:empty {
    border-top: 1px solid var(--color-light-steel-50);
    margin-top: var(--spacing-small);
  }
}


@media print {
  * {
    line-height: 1!important;
  }

  .content {
    display: block!important;
    width: 100%!important;
    text-align: center!important;
    padding: 0 0 10px 0!important;
    border-bottom: 1px solid #AAAAAA; 
  }
  
  button {
    display: none!important;
  }
  
  .item {
    display: inline-block!important;
    vertical-align: top!important;
    
    & .identifier {
      font-size: 16px!important;
    }

    & > span {
      display: block!important;
      font-size: 20px!important;
      margin-bottom: 10px!important;
    }

    & > .propertyChildren {
      font-weight: bold!important;
      font-size: 16px!important;

      & abbr {
        padding: 0!important;
        font-size: 16px!important;
      }
    }

    &:last-child{
      display: none!important;
    }
  }
}